<div id="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="username"><b>Username</b></label>
            <input (click)="onClickName()" formControlName="username" id="username" type="text" autofocus="autofocus">
            <div *ngIf="loginForm.controls['username'].errors" class="alert">
                {{loginForm.controls['username'].errors['userInvalid'].message}}
            </div>
            <div *ngIf="getNameAlert() != ''" class="alert">
                {{getNameAlert()}}
            </div>
        </div>
  
        <div>
            <label for="password"><b>Password</b></label>
            <input (click)="onClickPwd()" formControlName="password" id="password" type="password">
            <div *ngIf="loginForm.controls['password'].errors" class="alert">
                {{loginForm.controls['password'].errors['passwordInvalid'].message}}
            </div>
            <div *ngIf="getPwdAlert() != ''" class="alert">
                {{getPwdAlert()}}
            </div>
        </div>
  
        <div id="login">
            <a [routerLink]='["/signup"]' routerLinkActive="active" href="">Sign up</a>
            <button type="submit" [disabled]="!loginForm.valid">Log in</button>
        </div>
    </form>
</div>