<div>
    <label for="password">Password</label>
    <input autofocus type="text" name="password" [(ngModel)]="password">
    <button (click)="onSubmit()">Submit</button>
    
    <label for="md5">MD5</label>
    <input type="text" readonly name="md5" [(ngModel)]="md5">
    <img src={{img1}}>

    <label for="sha1">SHA1</label>
    <input type="text" readonly name="sha1" [(ngModel)]="sha1">
    <img src={{img2}}>

    <label for="sha256">SHA256</label>
    <input type="text" readonly name="sha256" [(ngModel)]="sha256">
    <img src={{img3}}>
</div>